/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');

:root {
  --main-color: #aa0000;
  --light-main-color: #dd0000;
  --dark-main-color: #770000;
  --secondary: #be9e44;
  --light-secondary: #d8c690;
  --light-color: #e7e7e7;
  --original-red: #eb2121;
  --original-yellow: #fef200;
}

* {
  font-size: 0.95rem;
}

/* General */
img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  z-index: 100;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.8rem;
  padding: 0.5rem 0;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}

.car-cap a {
  color: white !important;
}

.card {
  background: radial-gradient(var(--light-main-color), var(--main-color));
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  height: 450px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
}

.carousel {
  max-width: 1550px;
  margin: auto;
}

main {
  background: var(--light-color);
}

.roboto {
  font-family: 'Roboto Slab', serif;
}

main {
  min-height: 80vh;
}

body {
  font-family: 'Roboto Slab', serif;
}

.btn,
.btn-2 {
  padding: 1rem 2rem;
  color: #000 !important;
  background-color: var(--main-color);
  transition-duration: 0.5s;
}

.btn-2 {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.btn:hover,
.btn-2:hover {
  color: var(--original-yellow) !important;
  background-color: var(--main-color) !important;
}

.row {
  display: flex;

  justify-content: center;
  align-items: center;
}
.col {
  justify-content: center;
  align-items: center;
}

div.card-body {
  padding: 0 !important;
}

div .col .text-center {
  padding: 0rem !important;
}

.equal-height-columns {
  display: flex;
  flex-wrap: wrap;
}

.equal-column-content {
  height: 100%;
}

.btn-align {
  margin: -2rem;
}

/* Header */
header {
  background-color: var(--dark-main-color);
}

header .nav-links {
  color: #000 !important;
  transition: 0.4s;
  margin-bottom: 0 !important;
}

header .nav-links:hover {
  color: var(--original-yellow) !important;
}

.brand-img {
  max-width: 300px;
}
.brand {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 3rem;
  color: var(--original-yellow);
}

img.card-img-top {
  padding-bottom: 1rem;
}

/* Footer */
footer {
  background-color: var(--dark-main-color);
  color: var(--original-yellow);
  /* height: 30px; */
}

footer div.text-center.py-3.col {
  height: 5rem !important;

  /* position: absolute;
  bottom: 100%; */
}

/* Background */
.bgobj1 {
  border-radius: 100% 0% 72% 28% / 65% 58% 42% 35%;
  background-color: var(--light-secondary);
  padding: 130px;
  position: absolute;
  top: 500px;
  right: -205px;
}
.bgobj2 {
  border-radius: 53% 47% 52% 48% / 0% 0% 100% 100%;
  background-color: var(--light-secondary);
  padding: 75px;
  position: absolute;
  top: 0;
  right: 345px;
  width: 1000px;
  z-index: 0;
}
.bgobj3 {
  border-radius: 27% 46% 74% 20% / 36% 75% 24% 59%;
  background-color: var(--dark-main-color);
  padding: 75px;
  position: absolute;
  top: 600px;
  left: -100px;
  width: 500px;
  z-index: 0;
}
.bgobj4 {
  border-radius: 79% 21% 44% 56% / 87% 22% 78% 13%;
  background-color: var(--light-secondary);
  padding: 75px;
  position: absolute;
  top: 1080px;
  left: -120px;
  width: 800px;
  z-index: 0;
}
.bgobj5 {
  border-radius: 52% 48% 49% 51% / 50% 48% 52% 50%;
  background-color: var(--dark-main-color);
  padding: 75px;
  position: absolute;
  bottom: 30px;
  right: -100px;
  width: 300px;
  /* height: 200px; */
  z-index: 0;
}
.bgobj6 {
  border-radius: 29% 71% 78% 22% / 40% 26% 74% 60%;
  background-color: var(--light-secondary);
  padding: 75px;
  position: absolute;
  bottom: 400px;
  left: 0px;
  width: 300px;
  z-index: 0;
}

@media only screen and (max-width: 1200px) {
  .btn-2 {
    font-size: smaller;
  }
  .card {
    height: 400px;
  }
  strong {
    font-size: 0.9rem;
  }
  .bgobj4 {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .btn-2 {
    font-size: 0.6rem;
  }

  strong {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    height: 100%;
  }
  .btn-2 {
    font-size: 1rem;
  }
  strong {
    font-size: 1rem;
  }
  .bgobj1,
  .bgobj2,
  .bgobj3,
  .bgobj4,
  .bgobj5,
  .bgobj6 {
    display: none;
  }
}
